<div class="footer">
    <section>
        <img src="../media/logo.png">
    </section>
    <section>
        <h1>Pages</h1>
        <a href="../index.html">Home</a>
        <a href="../works/index.html">Our Works</a>
        <a href="../team/index.html">Our Team</a>
        <a href="../contact/index.html">Contact</a>
    </section>
    <section>
        <h1>Useful Links</h1>
        <a href="">Terms and Conditions</a>
        <a href="">501 C(3) Non Profit</a>
    </section>
    <section>
        <h1>Contact</h1>
        <p>crashpolitics.org@gmail.com</p>
        <p>Culver City, CA 90230</p>
        <p>Insta: crash.politics</p>
    </section>
</div>