<canvas class="canvas"></canvas>
<script src="../js/click.js"></script>
<div class="navbar">
    <a href="../index.html"><img src="../media/logo.png"></a>
    <!-- political basics -->
    <section>
        <div class="dropdown">
            <button class="dropbtn">Political Basics</button>
                <div class="dropdown-content">
                  <a href="../ideologies/index.html" href="-local.html">Ideologies</a>
                  <a href="../bites/government.html">Government Processes</a>
                  <a href="../bites/political.html" href="-global.html">Political Debates</a>
              </div>
          </div>
          <!-- news -->
        <div class="dropdown">
            <button class="dropbtn">News</button>
                <div class="dropdown-content">
                  <a href="../bites/local.html" href="-local.html">Local News</a>
                  <a href="../bites/domestic.html">Domestic News</a>
                  <a href="../bites/global.html" href="-global.html">Global News</a>
              </div>
          </div>
        <!-- news -->
        <div class="dropdown">
            <button class="dropbtn">About Us</button>
                <div class="dropdown-content">
                    <a href="../works/index.html">Our Work</a>
                    <a href="../team/index.html">Our Team</a>
              </div>
          </div>
          <!-- about -->
          <div class="nondropdown">
            <a href="../contact/index.html"><h1>Contact Us</h1></a>
          </div>

    </section>
    
</div>